Source: libayatana-common
Standards-Version: 4.7.4
Maintainer: Ayatana Packagers <pkg-ayatana-devel@lists.alioth.debian.org>
Uploaders:
 Debian UBports Team <team+ubports@tracker.debian.org>,
 Mike Gabriel <sunweaver@debian.org>,
Section: libs
Build-Depends:
 debhelper-compat (= 13),
 dh-exec,
 dh-sequence-gir,
 cmake,
 cmake-extras,
 gir1.2-glib-2.0-dev,
 googletest <!nocheck>,
 intltool,
 libglib2.0-dev,
 libgtest-dev <!nocheck>,
 liblomiri-url-dispatcher-dev,
 pkgconf,
 systemd-dev [linux-any],
 valac,
Vcs-Browser: https://salsa.debian.org/debian-ayatana-team/libayatana-common
Vcs-Git: https://salsa.debian.org/debian-ayatana-team/libayatana-common.git
Homepage: https://github.com/AyatanaIndicators/libayatana-common

Package: libayatana-common0
Architecture: any
Multi-Arch: same
Depends:
 zenity | lomiri,
 ${misc:Depends},
 ${shlibs:Depends},
Description: Ayatana System Indicators' common API functions (shared library)
 This package contains common API functions used by Ayatana System
 Indicators.
 .
 This package contains the shared library.

Package: libayatana-common-dev
Architecture: any
Section: libdevel
Depends:
 libayatana-common0 (= ${binary:Version}),
 libglib2.0-dev,
 liblomiri-url-dispatcher-dev,
 ${gir:Depends},
 ${misc:Depends},
Provides:
 ${gir:Provides},
Description: Ayatana System Indicators' common API functions (development headers)
 This package contains common API functions used by Ayatana System
 Indicators.
 .
 This package contains the development headers.

Package: gir1.2-ayatanacommon-0.1
Architecture: any
Multi-Arch: same
Section: introspection
Depends:
 ${gir:Depends},
 ${misc:Depends},
Description: Ayatana System Indicators' common API functions (GObject Introspection)
 This package contains common API functions used by Ayatana System
 Indicators.
 .
 This package contains the GObject Introspection file.

Package: ayatana-indicator-common
Architecture: all
Multi-Arch: foreign
Depends:
 ${misc:Depends},
Description: Ayatana System Indicators' common files
 This package has files needed to work with the Ayatana Indicators. This
 includes the systemd ayatana-indicators.target and GSetting schemas
 that are required by more than one system indicator.
